@charset "UTF-8";

body{
    font-family: sans-serif, Arial;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height:100vh;
    background: linear-gradient(-45deg, rgb(255, 255, 255), rgb(162, 197, 187));
}
body div {
    margin-top: 5vh;
}
#converter{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}
#converter div{
    display: flex;
    flex-direction: row;
    margin:  auto 5vw;   
}
input{
    font-size: 100%;
    width: 30vmin;
    height: 5vmin;
}
select{ 
    width: min-content;
}
#convert{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: linear-gradient(to top left, rgb(2, 162, 255), rgb(0, 248, 153));
}